@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body
{
    background-image: linear-gradient(90deg, rgb(4, 142, 235), rgb(0, 89, 255), rgb(4, 0, 255));
    margin: 0;
    text-align: center;
}

h1
{
    font-family: 'DM Serif Display', serif;
    color: white;
    text-align: center;
}

p
{
    text-align: justify;
    line-height: 40px;
    margin: 0px 100px;
    color: white;
    text-indent: 20px;
}

header
{
    text-align: center;
}

